@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    transition: all 0.2s ease-in-out !important;
}

html, body {
    scroll-behavior: smooth;
}
canvas {
    width: 100% !important;
    height: 100vh !important;
}
